.profile__edit-button {
  position: absolute;
  top: 18px;
  right: -42px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background: url("../../../images/profile/edit-icon.svg") no-repeat center center;
  cursor: pointer;
}
