.form__button {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #000000;
  margin: 48px 0 0 0;
  padding: 14px 0 14px 0;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 560px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
  }
}
