.form__input {
  box-sizing: border-box;
  margin: 30px 0 0 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.form__input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
