.elements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  gap: 20px 17px;
}

@media screen and (max-width: 760px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}
